<!--<div class="card">
  <img [src]="selectedFile.src" alt="just image">
  <div class="info container-fluid">
    <div *ngIf="selectedFile.status == 'init'" class="custom-file">
      <input (change)="onFileSelected($event.target.files)" type="file" class="custom-file-input">
      <label class="custom-file-label">Escolha uma radiografia</label>
    </div>
    <div *ngIf="selectedFile.status == 'ok'">
      <button (click)="onUpload()" type="button" class="btn btn-success btn-sm">Classificar</button>
      <button (click)="onReset()" type="button" class="btn btn-secondary btn-sm">Selecionar outra</button>
    </div>
  </div>
</div>-->
<div [className]="turned ? 'flipcard active' : 'flipcard'">
  <div [className]="hasError ? 'flipcard_front danger' : 'flipcard_front'">
    <div class="container">
      <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="onFileSelected($event)"
        [attr.disabled]="hasError ? '' : null">
        {{ !hasError ? 'Selecione uma radiografia' : 'Serviço indisponível' }}
        <input hidden type="file" #fileInput (change)="onFileSelected($event.target.files)"
          [attr.disabled]="hasError ? '' : null">
      </div>
    </div>
  </div>
  <div class="flipcard_back">
    <div *ngIf="selectedFile.status == 'ok'" class="card" style="width: 80%; margin: 20% auto;">
      <img class="card-img-top" [src]="selectedFile.src" alt="Radiografia selecionada">
      <div class="card-body ml-auto">
        <strong *ngIf="classifierService.isLoading" class="text-dark">Carregando...</strong>
        <button *ngIf="!classifierService.isLoading && !classified" (click)="onUpload()" type="button"
          class="btn btn-link">Classificar</button>
        <button *ngIf="!classifierService.isLoading" (click)="onReset()" type="button"
          class="btn btn-link text-secondary">Escolher outra</button>
      </div>
    </div>
  </div>
</div>